@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Aspekta';
    src: url('./assets/fonts/webfonts/Aspekta-400.woff2');
}
@font-face {
    font-family: 'Aspekta-700';
    src: url('./assets/fonts/webfonts/Aspekta-700.woff2');
}

* *::before,
::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: none;
    border-color: #e5e7eb;
}
body {
    margin: 0;
    font-family: 'Aspekta', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 350;
    color: rgb(30 41 59);
    background-color: rgb(255, 255, 255);
}

h1,
h2 {
    font-family: 'Aspekta-700', sans-serif;
}
